<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Bydlovision stats</title>
	<style>
* {
	font-family: sans-serif;
	font-size: 10pt;
}
table {
	border-collapse:collapse;
}
table, th, td {
	border: 1px solid black;
}
.scorecell {
	text-align: right;
}

	</style>
</head>
<body>
    <h1>Stats</h1>
	
	<h2>Average points</h2>
	<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
			{% for country in countries_list %}
				<th class="country_to">{{ country }}</th>
			{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for c_from in countries_list %}
			<tr>
				<th class="country_from">{{c_from}}</th>
				{% for c_to in countries_list %}				
				{% if average[c_from, c_to] is defined %}
					<td class="scorecell">
					{{- "%0.2f" % average[c_from, c_to] -}}
					</td>
				{% else %}
				    <td class="noscore">&nbsp;</td>
				{% endif %}
				{% endfor %}				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
<h2>Top loved</h2>
<ol>
	{% for ml in most_loved %}
	<li>{{ ml['from'] }} loves {{ ml['to'] }}: {{ ml['score']|round(2) }} points</li>
	{% endfor %}
</ol>

	
</body>
</html>